<div id="carousel-bakery" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carousel-bakery" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carousel-bakery" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carousel-bakery" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/img/macarron-h.jpg" class="d-block w-100" alt="Imagem de macarrons variados">
      <div class="carousel-caption d-none d-md-block">
        <h5>Sua melhor experiência gastronômica</h5>
        <p>Você vai experenciar os melhores doces do Brasil e do mundo.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/img/candy-h.jpg" class="d-block w-100" alt="Imagem de doces de morango">
      <div class="carousel-caption d-none d-md-block">
        <h5>Um ambiente pensado para você e sua família</h5>
        <p>Nosso ambiente foi pensado para te fornecer conforto e ser um espaço tranquilo e leve.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/img/cupcake-h.jpg" class="d-block w-100" alt="Imagem de cupcakes de chocolate">
      <div class="carousel-caption d-none d-md-block">
        <h5>Os melhores ingredientes</h5>
        <p>Trabalhamos com ingredientes selecionados, da melhor qualidade, do jeito que você merece!</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-bakery" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel-bakery" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
