<section id="about" class="container mt-4">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/img/cake-two.jpg" class="img-fluid rounded-start" alt="Imagem de uma fatia de bolo">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Somos apaixonados por doces</h5>
              <h6 class="card-subtitle text-muted mb-3">Acreditamos que um bom doce pode mudar o (seu) mundo.</h6>
              <p class="card-text">Na nossa confeitaria, cada doce é feito com dedicação e carinho, buscando não apenas satisfazer o paladar, mas também trazer alegria e conforto. Queremos que cada mordida seja uma experiência única, capaz de adoçar e iluminar o seu dia.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/img/tortinha.jpg" class="img-fluid rounded-start" alt="Imagem de uma tortinha rosa">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Equipe premium de confeiteiros</h5>
              <h6 class="card-subtitle text-muted mb-3">Profissionais especializados para levar o melhor atá a sua mesa.</h6>
              <p class="card-text">Nossa equipe é composta por especialistas apaixonados pela arte da confeitaria. Com técnicas refinadas e uma atenção especial aos detalhes, eles transformam ingredientes de qualidade em doces que não só encantam o paladar, mas também aquecem o coração.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
