<section id="menu" class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="cakes-tab" data-bs-toggle="tab" data-bs-target="#cakes-tab-pane" type="button" role="tab" aria-controls="cakes-tab-pane" aria-selected="true">Bolos</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="cupcakes-tab" data-bs-toggle="tab" data-bs-target="#cupcakes-tab-pane" type="button" role="tab" aria-controls="cupcakes-tab-pane" aria-selected="false">Cupcakes</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="candys-tab" data-bs-toggle="tab" data-bs-target="#candys-tab-pane" type="button" role="tab" aria-controls="candys-tab-pane" aria-selected="false">Doces Variados</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="coffees-tab" data-bs-toggle="tab" data-bs-target="#coffees-tab-pane" type="button" role="tab" aria-controls="coffees-tab-pane" aria-selected="false">Cafés</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="cakes-tab-pane" role="tabpanel" aria-labelledby="cakes-tab" tabindex="0">
      <!-- Cards -->
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
    <div *ngIf="cakes.length === 0">
      <h4 class="not-found">Nenhum bolo com esse sabor encontrado 🙁</h4>
    </div>
    <div class="col" *ngFor="let cake of cakes">
      <div class="card-menu" id="card-cake">
        <img [src]="cake.img" class="card-img-top" [alt]="cake.name">
        <div class="card-body">
        <h5 class="card-title">{{ cake.name }}</h5>
        <p class="card-text">{{ cake.price | currency: 'BRL': true }}</p>
      </div>
    </div>
  </div>
  </div>
    </div>
    <div class="tab-pane fade" id="cupcakes-tab-pane" role="tabpanel" aria-labelledby="cupcakes-tab" tabindex="0">
      <!-- Cards -->
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
        <div *ngIf="cupcakes.length === 0">
          <h4 class="not-found">Nenhum cupcake com esse sabor encontrado 🙁</h4>
        </div>
        <div class="col" *ngFor="let cupcake of cupcakes">
          <div class="card-menu" id="card-cupcake">
            <img [src]="cupcake.img" class="card-img-top" [alt]="cupcake.name">
            <div class="card-body">
            <h5 class="card-title">{{ cupcake.name }}</h5>
            <p class="card-text">{{ cupcake.price | currency: 'BRL': true }}</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="tab-pane fade" id="candys-tab-pane" role="tabpanel" aria-labelledby="candys-tab" tabindex="0">
      <!-- Cards -->
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
        <div *ngIf="candys.length === 0">
          <h4 class="not-found">Nenhum doce com esse sabor encontrado 🙁</h4>
        </div>
        <div class="col" *ngFor="let candy of candys">
          <div class="card-menu" id="card-candy">
            <img [src]="candy.img" class="card-img-top" [alt]="candy.name">
            <div class="card-body">
            <h5 class="card-title">{{ candy.name }}</h5>
            <p class="card-text">{{ candy.price | currency: 'BRL': true }}</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="tab-pane fade" id="coffees-tab-pane" role="tabpanel" aria-labelledby="coffees-tab" tabindex="0">
      <!-- Cards -->
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
        <div *ngIf="coffees.length === 0">
          <h4 class="not-found">Nenhum café desse tipo encontrado 🙁</h4>
        </div>
        <div class="col" *ngFor="let coffee of coffees">
          <div class="card-menu" id="card-coffee">
            <img [src]="coffee.img" class="card-img-top" [alt]="coffee.name">
            <div class="card-body">
            <h5 class="card-title">{{ coffee.name }}</h5>
            <p class="card-text">{{ coffee.price | currency: 'BRL': true }}</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
