<section id="menu" class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="cakes-tab" data-bs-toggle="tab" data-bs-target="#cakes-tab-pane" type="button" role="tab" aria-controls="cakes-tab-pane" aria-selected="true">Bolos</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="cupcakes-tab" data-bs-toggle="tab" data-bs-target="#cupcakes-tab-pane" type="button" role="tab" aria-controls="cupcakes-tab-pane" aria-selected="false">Cupcakes</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="candys-tab" data-bs-toggle="tab" data-bs-target="#candys-tab-pane" type="button" role="tab" aria-controls="candys-tab-pane" aria-selected="false">Doces Variados</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="coffees-tab" data-bs-toggle="tab" data-bs-target="#coffees-tab-pane" type="button" role="tab" aria-controls="coffees-tab-pane" aria-selected="false">Cafés</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="cakes-tab-pane" role="tabpanel" aria-labelledby="cakes-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="cupcakes-tab-pane" role="tabpanel" aria-labelledby="cupcakes-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="candys-tab-pane" role="tabpanel" aria-labelledby="candys-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="coffees-tab-pane" role="tabpanel" aria-labelledby="coffees-tab" tabindex="0">...</div>
  </div>
</section>
