<section id="local" class="container text-center">
  <!-- Button modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#localModal">
    Quero conhecer!
  </button>

  <!-- Modal -->
  <div class="modal fade" id="localModal" tabindex="-1" aria-labelledby="localModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="localModalLabel">Estamos te esperando!</h1>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">X</button>
        </div>
        <div class="modal-body">
          <p> Te esperamos na Rua Gonçalves Dias, n. 32 - Centro <br> Rio de Janeiro/RJ</p>
          <div style="width: 100%">
            <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Rua%20Gon%C3%A7alves%20Dias,%20n.%2032%20-%20Centro+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/">gps trackers</a></iframe>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</section>
