<header>
  <app-nav></app-nav>
</header>
<main>
  <section>
    <app-carousel></app-carousel>
  </section>
  <section class="quote">
    <figure class="text-center">
      <blockquote class="blockquote">
        <h3 class="fw-lighter text-center fst-italic mt-4">"A vida é curta. Coma a sobremesa primeiro."</h3>
      </blockquote>
      <figcaption class="blockquote-footer">
        <cite title="Source Title">Jacques Torres</cite>
      </figcaption>
    </figure>
  </section>
  <section id="about">
    <app-about></app-about>
  </section>
  <section id="menu">
    <app-menu></app-menu>
  </section>
  <section id="modal">
    <app-modal-location></app-modal-location>
  </section>
</main>


